<section id="contacts" class="contact">
  <div class="container">
    <div class="socialMedia">
      <a href="https://github.com/RyamSousa" target="_blank" class="social fa fa-github"><i>RyamSousa</i></a>
      <a href="https://www.linkedin.com/in/ryamsousa/" target="_blank" class="social fa fa-linkedin-square"><i>ryamsousa</i></a>
      <a href="https://www.instagram.com/ryamsousa00/" target="_blank" class="social fa fa-instagram"><i>ryamsousa00</i></a>
      <a href="mailto:ryam.sousa123@gmail.com" target="_blank" class="social fa fa-envelope"><i>ryam.sousa123@gmail.com</i></a>
    </div>
    <div class="description">
      <p>
        My main social medias are github and linkedin, but you can find me through
        instagram or send me an e-mail.
      </p>
    </div>
  </div>
</section>
