<section id="portfolio" class="portfolio">
  <h1 class="number-repos">Public repositories: {{user.public_repos}}</h1>
  <div class="container" *ngFor="let item of repositories;">
    <li *ngIf="!item.private" class="card">
      <div class="card-container">
        <h1>{{item.name}}</h1>
        <p>{{item.description}}</p>
        <p>Language: {{item.language}}</p>
        <a href="{{item.svn_url}}" target="_blank">Repository address</a>
        <span>Created at: {{item.created_at}}</span>
      </div>
    </li>
  </div>
</section>
